.about {
    width: 90%;
    margin: 0 auto;
    font-size: 1.1rem;
}

.about-content h3 {
    color: rgb(96, 167, 233);
    text-align: left;
    margin-bottom: 20px;
}

.about ul {
    margin: 20px 0 0;
    list-style-type: none;
}
.about ul li {
    background: url(https://goo.gl/fxy5eA) no-repeat left;
    background-size: auto 80%;
    padding: 4px 0 0 25px;
}

.about-image {
    width: 100%;
    margin: 20px 0;
}

@media only screen and (min-width: 768px) {
    .about-content {
        width: 50%;
        float: left;
    }

    .about-image {
        width: 50%;
    }
}