.contact-us {
    background: none;
    width: 90%;
    margin: 0 auto;
}

input,
textarea {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 10px;
    margin: 0 0 5px 0;
}

button[type=submit] {
    color: #fff;
    font-size: 1.1em;
    padding: .6em 1.5em;
    text-align: center;
    text-decoration: none;
    background: #ff9800;
    border: none;
}

@media only screen and (min-width: 768px) {
    input {
        width: 32%;
        float: left;
    }

    input:nth-of-type(2) {
        margin: 0 2%;
    }
}