footer {
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    color: white;
    padding: 10px 0;
    margin-top: 50px;
}

footer ul::after {
    content: "";
    clear: both;
    display: block;
}

footer ul li {
    display: inline-block;
    padding-bottom: 10px;
}