* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    text-align: center;
    margin: 80px 0 20px;
    padding: 10px;
}
h2 > span {
    border-bottom: 2px solid black;
}

iframe {
    border: 0;
    width: 100%;
    height: 400px;
}