header {
    padding: 40px 0;
    color: white;
    background: url(../images/building.jpg) no-repeat;
    background-size: cover;
}

header p {
    width: 80%;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
    padding: 50px 0;
}

header button {
    background-color: rgb(45, 113, 238);
    border: 0px;
    border-radius: 10px;
    margin: 0 auto;
    color: white;
    padding: 8px 20px;
    font-size: 1rem;
    display: block;
}

@media only screen and (min-width: 768px) {
    header {
        padding: 80px 0;
    }

    header p {
        font-size: 2.5rem;
    }
}