.in-touch article {
    text-align: center;
    color: white;
    padding: 30px 0;
}
.in-touch article h4 {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.in-touch article li {
    padding: 10px 0;
}

.in-touch article img {
    height: 16px;
}

.contact {
    background: rgb(46, 248, 171);
}

.connect {
    background: rgb(255, 81, 148);
}

.address {
    background: rgb(3, 114, 199);
}

.house {
    background: rgb(99, 181, 243);
}

.in-touch article.house img {
    width: 60%;
    height: auto;
}

@media only screen and (min-width: 768px) {
    .in-touch article {
        width: 50%;
        float: left;
        min-height: 190px;
    }

    .in-touch article.house {
        height: 190px;
    }
    .in-touch article.house img {
        height: 90%;
        width: auto;
    }
}