h1 {
    text-align: center;
    margin: 30px auto 15px auto;
}

h1 span {
    color: orange;
    border: 4px solid black;
    border-right: none;
    padding-left: 5px;
}

nav ul {
    width: 90%;
    background-color: rgb(96, 167, 233);
    text-align: center;
    color: white;
    margin: 20px auto;
    padding: 10px 0;
    box-sizing: border-box;
    list-style-type: none;
}

nav ul li {
    padding: 7px;
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    nav {
        position: absolute;
        top:0;
        left: 0;
        right: 0;
    }

    h1 {
        float: left;
        margin-left: 20px;
    }

    nav ul{
        float: right;
        width: auto;
        background: none;
    }

    nav ul li {
        display: inline-block;
    }
}