.testimonials {
    width: 90%;
    margin: 0 auto;
}

.testimonials article {
    padding: 15px;
    margin-bottom: 20px;
    background: rgb(96, 167, 233);
    color: white;
    font-size: 1.2rem;
}

.testimonials article h4 {
    color: black;
    padding-top: 2rem;
}

.testimonials article img {
    width: 30%;
    border: 2px solid white;
    border-radius: 50%;
    padding: 4px;
    margin: 0 20px 10px 0;
    float: left;
}

.testimonials article p {
    clear: both;
}

@media only screen and (min-width: 768px) {
    .testimonials {
        clear: both;
        padding-top: 50px;
    }
    .testimonials article{
        margin-left: 0;
        margin-right: 0;
        width: 47%;
        display: inline-block;
    }

    .testimonials article:nth-of-type(1) {
        margin-right: 5%;
    }
}